// This file is a partial (it was named leading with a _) which tells Sass that this should not be generated into a CSS file, and instead included in one by importing
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(
      -10rem
    ); // At the start of the animation, the element should be 100px shifted to the left
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(
      10rem
    ); // At the start of the animation, the element should be 100px shifted to the right
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(
      3rem
    ); // At the start of the animation, the element should be 100px shifted to the right
  }

  80% {
    transform: translateY(-0.2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes compositionOpacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}
