// This file is a partial (it was named leading with a _) which tells Sass that this should not be generated into a CSS file, and instead included in one by importing

// This is for the low level basics, such as resets and styles for html and body.

/* Reset CSS (browsers enforce default margins/paddings differently, so we forcfully set it all to 0 first)*/
/* * only affects strict elements, and not pseudo-elements, so we include those in the reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // The entire page will now inherit box-sizing from it's parent, wherever it is set (for example in body)
}

html {
  // This is being set for the purpose of easy rem calculations (font, images, styles etc.) throughout the application
  // Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default
  // The percentage is 62.5% because it equates to 10px (which will make rem calculations easy) assuming the 16px default

  // This defines what 1rem is (10px)
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  /*   @include respond(phone) {
    font-size: 50%; // We want the 8px like below, so since both media queries would apply under 600px, this one is redundant
  } */

  @include respond(tab-land) {
    // width < 1200px? Apply this.
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900px? Apply this. This comes AFTER the 900px query because we want this to take precedence if something is in fact < 600px, since that is true for both
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 = 75%
  }
}

// Setting this is body because all children will inherit it since we set "box-sizing: inherit" above
body {
  // Instead of height being top border + top padding + declared height + bottom padding + bottom border, it will simply be the declared height with the border & padding extending inwards
  box-sizing: border-box; // This makes the box model not count borders/paddings in total height/width, and will extend to all children and their children because it is set to inherit in the * selecto
  padding: 3rem; // This is in base because it encompasses the whole app and all the content is within this border

  @include respond(tab-land) {
    // width < 900px?
    padding: 0;
  }
}
