// This file is a partial (it was named leading with a _) which tells Sass that this should not be generated into a CSS file, and instead included in one by importing

body {
  font-family: 'Lato', sans-serif; // Setting font to Lato, but if it is not available, use basic sans-serif
  font-weight: 400;
  //   font-size: 1.6rem;
  line-height: 1.7; // 1.7x larger than the default
  color: $color-grey-dark;
  padding: 3rem;
}

// Primary heading is the main heading of the page (OUTDOORS IS WHERE LIFE HAPPENS)
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem; // To distance the button from the heading

  &--main {
    display: block; // Span elements are inline by default, so making it block will allow for a main title and subtitle
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; // (???) Research this property more later

    /*
    animation-delay: 1s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block; // Displayed as block to show underneath the main title
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;

  @include text-gradient(45deg, $color-primary-light, $color-primary-dark);

  // heading-secondary:hover
  &:hover {
    // skew stretches the element in opposite directions along the stated axis (x or y), while scale just makes it larger
    transform: skewY(0.5deg) skewX(2deg) scale(1.05);
  }
}
