// Mixins are reusable pieces of code that can be included in other css

@mixin clearfix {
  // & will translate to whatever css selector we are within when we call the mixin then it will add ::after to that
  &::after {
    // Set content property otherwise pseudo elements will not appear on the page, it is empty because we dont actually want to see it
    content: '';
    // display: table is simply the standard for a clearfix hack
    display: table;
    // We float both to make this mixin more reuseable, so it will clear float right AND left, so it will be useful for both scenarios
    clear: both;
  }
}

// This mixin takes in arguments and will result in text with a gradient coloring
@mixin text-gradient($direction, $colorOne, $colorTwo) {
  background-image: linear-gradient($direction, $colorOne, $colorTwo);
  background-clip: text;
  color: transparent;
}

@mixin absolute-center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// Desktop-first approach

// 0 - 600px: ------------- Phone
// 600 - 900px: ----------- Tablet portrait
// 900 - 1200px: ---------- Tablet landscape
// [1200 - 1800] is where our default styles apply
// 1800 - ∞px: ----- Big desktop

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
