// This scss file is for any styles that are unique to this specific site and not very reusable for the future (not modular components)

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // Negative margin moves the box up and behind the header polygon because it created ugly white space since even a polygon is really a box
  margin-top: -20vh;
}

// This class is for the features section but it is unique to this webpage rather than a commonly reusable componenet, so it is in _home
.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../images/nat-4.jpg);

  background-size: cover; // Background will always fit within the element

  // clip-path: polygon() would achieve the effect of the tilted container, but this is another way
  transform: skewY(-7deg);

  // This is to move up the skewed section to hide the white box background
  margin-top: -10rem; // A#####

  // This is the direct child (>) selector, selecting EVERYTHING (*)
  // Basically this is unskewing everything inside the DIRECT (first) child (which is the 'row' div) of the section-features
  & > * {
    transform: skewY(7deg);
  }
}

// This class is for the hikes section but it is unique to this webpage rather than a commonly reusable componenet, so it is in _home
.section-hikes {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0; // ##### 25rem 15rem
  margin-top: -10rem; // To cover up the white space left by the skewed section
}

.section-testimonials {
  padding: 13rem 0 9rem 0; // #### 10rem
  position: relative;

  // Added this fade in effect
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-1, 1) 0%,
    transparent 5%
  );
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.booking {
  // At 0% it is white, and by 50% it is still white, but at that same exact spot it becomes transparent, and created a line effect similar to clip path polygon
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../images/nat-10.jpg); // This is a second background-image property behind the gradient
  background-size: cover; //
  border-radius: $border-radius-small;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 50%;
    height: 100%;
    padding: 6rem;
  }
}
