.card {
  perspective: 150rem;
  -moz-perspective: 150rem; // So that it will work in Mozilla Firefox

  position: relative;

  height: 50rem;

  &__side {
    color: #fff;
    font-size: 2rem;

    height: 50rem;
    transition: all 0.8s ease;

    // Positioned absolutely based on the card class, since it full encompasses
    position: absolute; // on the card__side div because it is the one that is common between --front and --back
    top: 0;
    left: 0;

    width: 100%;

    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
