.modal {
  height: 100vh;
  width: 100%; // 100vw would work as well

  background-color: rgba($color-black, 0.3);

  // Graceful degradation for backdrop-filter as it is not supported on some browsers
  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(
      10px
    ); // Apply a blur to the area behind the modal (behind the dark filter even, so the page itself)
  }

  position: fixed;
  top: 0;
  left: 0;

  z-index: 400;

  opacity: 0; // Initial state
  visibility: hidden; // Initial state

  transition: all 0.3s; // For the showing and hiding of the modal

  &__content {
    @include absolute-center;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: $border-radius-small;

    display: table;
    overflow: hidden;

    opacity: 0; // Initial state
    transform: translate(-50%, -50%) scale(0.25); // Initial state (We have to repeat the centering from the mixin because you cannot have 2 different transform declarations, or else the last one takes precedence, which in this case would mess it up unless we repeated the centering)

    transition: all 0.4s 0.2s; // .2s is a delay for the popup, so the dark background happens first and when it almost finishes we popup the modal

    @include respond(tab-port) {
      display: inline-block;
    }
  }

  &__left {
    width: 33.333333%;
    // float: left;
    display: table-cell;
    vertical-align: middle;

    background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );

    padding-right: 0.19rem; // Tiny buffer preventing the scaled up images from looking like they escape out of their left container

    @include respond(tab-port) {
      width: 100%;
      display: block;
      padding-right: 0; // Remove the small buffer
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__right {
    width: 66.666666%;
    //float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__img {
    display: block; // Usually a good idea for images
    transform: scale(
      1.01
    ); // Only reason for this is becaue a sliver of the background color was visible behind the image, so scaling it slightly covered it up
    width: 100%;

    @include respond(tab-port) {
      width: 50%;
      height: 25rem;
      display: inline-block;
      object-fit: cover; // So the images dont lose aspect ratio
    }
  }

  &__text {
    font-size: 1.4rem;

    column-count: 2; // Heights of colums are automatically balanced, leaving the extra for the last column (which may be shorter)
    column-gap: 4rem; // By default it would use 1em, which whatever the parents (or this elements) font-size
    column-rule: 1px solid $color-grey-light-2; // Line to divide columns

    @include respond(phone) {
      column-count: 1;
    }

    // Not sure why this isnt working...
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; // In order to actually show hyphens, you must edit the document language in the html to a real language
  }

  // Open states

  // Buttons with href "#modal" will target this pseudo-class (they are targets, this is the anchor (this whole element))
  // :target specifically selects the element with the ID that matches the current URL fragment, which is where a buttons href would go
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1; // Initial state
    transform: translate(-50%, -50%) scale(1); // Initial state (We have to repeat the centering from the mixin because you cannot have 2 different transform declarations, or else the last one takes precedence, which in this case would mess it up unless we repeated the centering)
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1; // We have to set line height because the X is an HTML code and counts as text, so it is not quite placed where we want because the line height is making it taller than it looks

      transition: all 0.2s; // For the color change on hover of the X button
    }

    &:hover {
      color: $color-secondary-dark;
    }

    @include respond(tab-port) {
      background-color: $color-white;
      padding: 0 0.6rem;
      border-radius: 50%;
    }
  }
}
