/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

 */

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

/* Reset CSS (browsers enforce default margins/paddings differently, so we forcfully set it all to 0 first)*/
/* * only affects strict elements, and not pseudo-elements, so we include those in the reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* The entire page will now inherit box-sizing from it's parent, wherever it is set (for example in body) */
}

html {
  /* This is being set for the purpose of easy rem calculations throughout the application */
  /* Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default */
  /* The percentage is 62.5% because it equates to 10px assuming the 16px default */
  font-size: 62.5%;
}

/* Setting this is body because fonts will be inherited by child elements */
body {
  font-family: 'Lato', sans-serif; /* Setting font to Lato, but if it is not available, use basic sans-serif */
  font-weight: 400;
  /*   font-size: 1.6rem; */
  line-height: 1.7; /* 1.7x larger than the default */
  color: #777777;
  padding: 3rem;

  box-sizing: border-box; /* This makes the box model not count borders/paddings in total height/width, and will extend to all children and their children because it is set to inherit in the * selector*/
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
