/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

 */

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

/* Reset CSS (browsers enforce default margins/paddings differently, so we forcfully set it all to 0 first)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This makes the box model not count borders/paddings in total height/width*/
}

/* Setting this is body because fonts will be inherited by child elements */
body {
  font-family: 'Lato', sans-serif; /* Setting font to Lato, but if it is not available, use basic sans-serif */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* 1.7x larger than the default */
  color: #777777;
  padding: 30px;
}

/* class selector instal of default header element */
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      /* Direction of the gradient */ rgba(126, 213, 111, 0.8),
      rgba(39, 180, 133, 0.8)
    ),
    url(../src/images/hero.jpg); /* Specified 2 background-image properties. First gradient, then image */
  background-size: cover; /* Background will always fit within the element */
  background-position: top; /* The top of the background image will always stay at the top of the container and crop out the bottom */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* Defines corners of the element from top left going clockwise */
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
